@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background: #161616;
}

.box__jobs-widget {
    padding: 3px 0;
}
.travel__title-text {
    left: 26px;
    position: absolute;
    top: 75px;
    color: #000000;
    padding-bottom: 4px;
    font-weight: 500;
    font-size: 19px;
}
.box__jobs-widget__text {
    font-weight: 100;
    font-size: 16px;
    line-height: 1.25;
    word-break: break-word;
    max-width: 900px;
    margin: 10px 0;
    color: #fff;
}

.box__jobs-widget__jobs-list {
    list-style: none;
    display: flex;
    height: 39px;
    background: #5a5a5a;
    justify-content: space-between;
    align-items: center;
}

.box__jobs-widget__jobs-list li {
    float: left;
    text-transform: uppercase;
    padding: 0 10px;

}

.box__jobs-widget__jobs-list li a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

.travel__with-img .travel__with-img__text {
    position: absolute;
    top: 108px;
    width: 51%;
    left: 22px;
    color: #726012;
    font-size: 49px;
    line-height: 55px;
    letter-spacing: 1px;
    font-weight: 100;
}

.box__jobs-widget__jobs-list li a:hover {
    color: #f2ca27;
}
.hobbies__hobby__text {
    font-weight: 500;
    max-width: 900px;
    margin: 10px 0;
    color: #fff;
}

h2 {
    color: #F4D03F;
    font-weight: 700;
    padding-bottom: 12px;
}

h1 {
    color: #fff;
}

.hobbies__hobby-list {
    display: flex;
    padding: 0;
    max-width: 900px;
    justify-content: space-between;
    list-style: none;
}

ul.travel__flags li {
    list-style: none;
    font-size: 50px;
}

div a.go-top {
    background: #F4D03F;
    padding: 10px;
    border-radius: 14px;
    color: 4B6A88;
    text-decoration: none;
}

#c-main {
    margin: 0 auto;
    width: 890px;
    margin-top: 125px;
}

.box {
    margin-top: 12px;
    margin-bottom: 24px;
    background: #484848;
    padding: 22px;
    display: flex;
    border-radius: 1%;
    flex-direction: column;
    position: relative;
}

.box::after {
    content: "";
}

.box-header {
    position: relative;
}

.box-header img {
    margin: 10px 0;
}
.box__box-header__image {
 width: 100%;
}
.box-header p {
    position: absolute;
    bottom: 0;
    padding: 23px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    text-transform: uppercase;
    line-height: 22px;
}

.age {
    font-size: 20px;
}

.travel__with-img__picture img {
    width: 100%;
}

#c-topo {
    background: linear-gradient(45deg, #FFE113 0, #F9B402 100%);
    height: 120px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    flex-direction: column;
}

.c-topo__website-nav {
    width: 900px;
    background: transparent;
    padding: 12px;
}

.c-topo__website-nav__list {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.c-topo__website-nav__list-item {
    display: flex;
    list-style: none;
    padding: 0 10px;
}

.c-topo__website-nav__list-item i {
    opacity: .5;
}

.c-topo__website-nav a {
    color: #726012;
    text-decoration: none;
}

.c-topo__website-nav a:hover {
    color: #2A2A22;
}

#c-topo__header-site {
    background: #2A2A22;
    height: 78px;
    display: flex;
    width: 100%;
}

#c-topo__header-site .c-topo__header-site__info {
    margin: 0 auto;
    width: 900px;
    display: flex;
}

#c-topo__header-site .c-topo__header-site__avatar {
    border: 2px #fff dotted;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    align-items: stretch;
    display: flex;
    border-bottom: 2px dotted #9ae2ff;
    animation-name: blinking;
    animation-duration: 4s;
    background: #000;
    animation-iteration-count: 100;
}

@keyframes blinking {
    50% {
        border-color: #ffcd5f;
    }
}

#c-topo__header-site .c-topo__header-site__avatar i {
    font-size: 43px;
    display: flex;
    padding: 12px 18px;
    width: 100%;
    color: #fff;
}

.c-topo__header-site__avatar-data {
    padding: 9px 20px;
    color: #f2ca27;
}

article {
    display: flex;
}

h4 {
    color: #DAA520;
    padding-bottom: 4px;
    font-weight: 500;
    font-size: 18px;
}

.deprecated {
    text-decoration: line-through;
}

.highligth {
    color: #f2ca27;
    font-weight: 500;
}

::selection {
    background-color: #cebf5d;
    color: #392f04;
    /* color: #fff;÷ */
    cursor: text;
}

.travel__flags {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #333;
}

.travel__with-img__picture {
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: flex;
    width: 42%;
    justify-content: flex-end;
}

.travel__with-img {
    display: flex;
    justify-content: flex-start;
    min-height: 500px;
    position: relative;
    width: 100%;
}

.travel__with-img::before {
    content: "";
    background: linear-gradient(45deg, #FFE113 0, #F9B402 100%);
    min-height: 500px;
    position: relative;
    margin: 0 0 31px 0;
    width: 90%;
}